server {
        listen 80;
        listen 443 ssl;

        ssl_certificate           /etc/nginx/ssl/server.crt;
        ssl_certificate_key       /etc/nginx/ssl/server.key;

        server_name {{ domains|join(' ') }};
        root {{ app.app_path }}/current/public;
        passenger_enabled on;

        error_page 500 502 503 504 /50x.html;
}