server {
        listen 80;
        listen 443 ssl;

        ssl_certificate           /etc/nginx/ssl/server.crt;
        ssl_certificate_key       /etc/nginx/ssl/server.key;

        server_name {{ domains|join(' ') }};
        root {{ app_path }}/current/public;

        error_page 500 502 503 504 /50x.html;

        location / {
                $uri $uri/index.html $uri.html
        }

        location /crushops/nginx-status {
                stub_status on;
                access_log off;
                allow 127.0.0.1;
                deny all;
        }
}